{% extends "../base.html" %}

{% block title %}
Contraseña
{% end %}

{% block content %}
<div class="row">
    <h1>Contraseña</h1>
    {% if messages %}
        <p>{{ messages }}</p>
    {% end %}
    <form action="/users/{{ ID }}/password" method="post">
        <fieldset>
            <label>Contraseña actual</label>
            <input class="u-full-width" type="password" name="current">
        </fieldset>
        <fieldset>
            <label>Nueva contraseña</label>
            <input class="u-full-width" type="password" name="new">
        </fieldset>
        <fieldset>
            <label>Digitela de nuevo</label>
            <input class="u-full-width" type="password" name="confirm">
        </fieldset>
        <button>Enviar</button>
    </form>
</div>
{% end %}
